<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ic.logger">
    <application>
        <provider
            android:name=".LoggerFileProvider"
            android:authorities="com.ic.app.logger.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>
